# Environment
NODE_ENV=development
PORT=8080

# Database
USER=your_db_user
DATABASE = mongodb+srv://awsabry2000_db_user:yiawXZAb1NN92XkV@freshlancer.lvjycwz.mongodb.net/Freshlancer?retryWrites=true&w=majority

# JWT Configuration
JWT_SECRET=GZeF-HGgj-pSCx-nppN-GrEK-JDwd-sMQt
JWT_EXPIRES_IN=15d
JWT_COOKIE_EXPIRES_IN=15

# URLs
BASE_URL=http://localhost:8080
FRONTEND_URL = https://freshlancer.online

# Payment Gateway
PAYMOB_TOKEN = egy_sk_test_25c53572a67c19b7c9aed9dd542c12cf9996d0fa893ecd39a16246b995c1296e
PAYMOB_PUBLIC_KEY = egy_pk_test_xgfkuiZo2us0viNDmSCVU1OvNnJQOUwv

# Encryption
ENCRYPTION_KEY=p7X$9Fv2@Qm4sW8eRk1!tB0yHcLdZn3P

# Email Configuration
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=noreply@freshlancer.online
SMTP_PASS=z2FtMTaPd^b$
EMAIL_LOGO_URL=https://scontent-hbe1-1.xx.fbcdn.net/v/t39.30808-6/605464471_844028088476985_8759565887460168335_n.jpg?_nc_cat=110&_nc_cb=99be929b-f3b7c874&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeGyDZV78kHcdgp3EByJ1z_WPwip83Mg6BY_CKnzcyDoFiOSTne9ak7cOEx-plsbvD3xugGTkfbVOL_NMLLpwOSt&_nc_ohc=1uXwel5WdOoQ7kNvwH86Hbw&_nc_oc=AdmlhxMiAXzSv2tIglxpQwAQrdTqIThve1l7AYVxYnVbgicHiZQoS-JUFvlpAz3rkVA&_nc_zt=23&_nc_ht=scontent-hbe1-1.xx&_nc_gid=0goZOjhXPdeLLf9mFMou1Q&oh=00_AfnLGjD-soMEbCSf46yD_3IS-b02GoiGWVBHBN3CAudgSg&oe=695387D8
EMAIL_DOMAIN=freshlancer.online

# Other Configuration
WAKE_UP_PERIOD=10
TIME_ZONE_P3=Asia/Riyadh
TIME_ZONE_P2=Africa/Cairo

